/* Vermelho claro #ffb2ad Azul claro #9ed8eb Brancoback */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    background-color: #F0F4F5;
}